/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vs
/app/Console
/app/Exceptions
/app/Http/Kernel.php
/app/Http/Middleware
/app/Providers
artisan
/bootstrap
composer.json
composer.lock
/config
/database/factories
/database/seeds
/node_modules
package.json
phpunit.xml
/public
/resources/js
/resources/lang
/resources/sass
/routes/api.php
/routes/channels.php
/routes/console.php
/storage
/tests
/vendor
webpack.mix.js
yarn.lock
.DS_Store
.env.example
.styleci.yml
bootstrap.zip
server.php